<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cocktails Index</title>
</head>
<body>
  <h1>All the drinks</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= cocktail.name %></li>
    <% end %>
  </ul>
</body>
</html>
